body {
  background-color: #171717;
  ;
  ;
  margin: 0;
}
.wrapper {
  
  width: 1460px;
  margin: 0 auto;
  
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 128px;
  margin-top: 48px;
}
  

.header_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #e4b564;
}

.icon_2 {
  padding-top: 19px;
  padding-bottom: 19px;
  padding-right: 10px;
  padding-left: 26px;
}

.button_text {
  display: block;
  text-decoration: none;
  color: rgba(228, 181, 100, 1);
  font-weight: 400;
  font-size: 18px;
  padding-right: 25px;
}
.grid-1 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 166px repeat(2, 1fr);
  color: rgba(255, 255, 255, 1);
  grid-column-gap: 25px;
  grid-row-gap: 27px;
  height: 1129px;
  margin-bottom: 161px;
}
.grid1-item1 {
  grid-area: 1 / 1 / 2 / 7;
}
.grid1-item2 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 2 / 1 / 3 / 3;

  background-color: rgba(99, 79, 44, 1);
}
.grid1-item3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  grid-area: 2 / 3 / 3 / 5;
  background-color: rgba(180, 163, 133, 1);
}
.grid1-item4 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 2 / 5 / 3 / 7;
  background-color: rgba(228, 181, 100, 1);
}
.grid1-item5 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 3 / 1 / 4 / 4;
  background-color: rgba(99, 90, 74, 1);
}
.grid1-item6 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 3 / 4 / 4 / 7;
  background-color: rgba(176, 140, 77, 1);
}
section div {
  font-weight: 700;
  font-size: 20px;
}
.heading2 {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  
  margin-bottom: 41px;
}
.paragraph1 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
 
  margin-bottom: 41px;
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  color: rgba(255, 255, 255, 1);
  grid-column-gap: 29px;

  grid-row-gap: 26px;
  height: 995px;
  margin-bottom: 191px;
}
.grid2-item1 {
  font-weight: 700;
  font-size: 50px;
  grid-area: 1 / 1 / 2 / 4;
}
.grid2-item2 {
  display: flex;
  flex-direction: column;
  grid-area: 2 / 1 / 4 / 2;
  padding-left: 52px;
  padding-top: 44px;
  background-color: rgba(14, 14, 14, 1);
}
.grid2-item3 {
  grid-area: 4 / 1 / 8 / 2;
  padding-left: 52px;
  padding-top: 56px;
  background-color: rgba(31, 31, 31, 1);
}
.grid2-item4 {
  display: flex;
  flex-direction: column;
  grid-area: 2 / 2 / 5 / 3;
  padding-left: 51px;
  padding-top: 44px;
  background-color: rgba(36, 36, 36, 1);
}
.grid2-item5 {
  grid-area: 5 / 2 / 8 / 3;
  padding-left: 52px;
  padding-top: 47px;
  background-color: rgba(228, 181, 100, 1);
}
.grid2-item6 {
  grid-area: 2 / 3 / 4 / 4;
  padding-left: 48px;
  padding-top: 44px;
  background-color: rgba(31, 31, 31, 1);
}
.grid2-item7 {
  grid-area: 4 / 3 / 6 / 4;
  padding-left: 48px;
  padding-top: 44px;
  background-color: rgba(14, 14, 14, 1);
}
.grid2-item8 {
  grid-area: 6 / 3 / 8 / 4;
  padding-left: 48px;
  padding-top: 44px;
  background-color: rgba(10, 9, 9, 1);
}
.wrapper_footer {
  
  background-color: #0e0e0e;
  
  
}
.footer_menu {
  width: 1460px;
  margin: 0 auto;
  margin-bottom: 239px;
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 1054px;
}
.grid3-item1 {
  
  display: flex;
  padding-top: 172px;
  flex-direction: row;
  justify-content: space-between;
  grid-area: 1 / 1 / 2 / 4;
}
.grid3-item2 {
  grid-area: 2 / 1 / 3 / 2;
  background-color: #634f2c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid3-item3 {
  grid-area: 3 / 1 / 4 / 2;
  background-color: #635a4a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid3-item4 {
  grid-area: 2 / 2 / 3 / 3;
  background-color: rgba(232, 210, 171, 0.76);
  display: flex;
  color: #ffffff;
  font-style: normal;
font-weight: 400;
font-size: 22px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.font_bold{
  font-weight: 700;
font-size: 22px;
}
.grid3-item5 {
  grid-area: 3 / 2 / 4 / 3;
  background-color: #b08c4d;
  font-size: 30px; 
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .image{
  position: relative;
  top:5px;
left:25px;
}
.grid3-item6 {
  grid-area: 2 / 3 / 3 / 4;
  background-color: #e4b564;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid3-item7 {
  grid-area: 3 / 3 / 4 / 4;
  background-color: #634f2c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_title {
  color: #ffffff;
  font-weight: 700;
  font-size: 50px;
}

.bottom {
  box-sizing: border-box;
 display: flex;
 justify-content: flex-start;
  font-weight: 400;
  font-size: 18px;
  color: #e4b564;
  text-decoration: none;
  border: 1px solid #e4b564;
  padding: 10px 40px;
}
